/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer; /*Al pasar el cursor aparezca una manita*/
}
header {
    width: 100%;
    height: 6.0rem;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: 25.0rem;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 1.0rem;
    color: #000000;
}
nav .nav-right-section .menu-icon {
    background-image: url('https://image.flaticon.com/icons/png/512/56/56844.png');
    background-repeat: no-repeat; /*Que al hacer grande la pagina no se repita*/
    background-position: center; /*Que el contenido este en el centro del contenedor*/
    background-size: contain; /*Que este del tamaño del contenedor o se aproxime*/
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 1.0rem;

}